.image-container {
  display: flex;  
  justify-content: center; /* Horizontally center the items */
}

.image-option {
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: border 0.3s;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label img {
  border-bottom: 2px solid #76c0ae;
}

label img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 0;
  padding-bottom: 1em;
  transition: transform 0.3s;
}

label img:hover {
  transform: scale(1.05);
}

form {
    padding: 1em;
    max-width: 30em;
    margin: 2em auto;
    border-radius: 4px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  label {
    display: block;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.6em;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  input {
    width: 92%;
    padding: 0.5em;
    border: 1px solid #76c0ae;
    border-radius: 0.25em;
    background-color: transparent;
    color: grey;
  }
  
  button {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #76c0ae;
    border-radius: 0.25em;
    background-color: #83e6c0;
    color: #1a1f1d;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #aaf1d6;
  }